pip-tools
django
requests
pytest-django
Pillow
django-multiselectfield
sorl-thumbnail
django-debug-toolbar

# Check code style
flake8
isort

# DRF libraries
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers