pip-tools
django
requests
pytest-django
Pillow
django-multiselectfield
sorl-thumbnail
django-debug-toolbar

# DRF libraries
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers