{% extends 'base.html' %}
{% block title %}Запрос на смену пароля{% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Запрос на смену пароля</h1>
        </div>
        <p>На Вашу почту был отправлен email с инструкциями по сбросу пароля.</p>
        <p>
            Если Вы не получили email, убедитесь, что Вы указали почту, использованную при регистрации, а
            также проверьте папку "spam".
        </p>
    </main>
{% endblock %}