{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% load static %}
{% load user_filters %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>

    {% if request.path == '/new/' %}
        {% url 'recipe_create' as form_action_url %}
    {% else %}
        {% url 'recipe_edit' pk=recipe.id as form_action_url %}
    {% endif %}

    <div class="form-container">
        <form class="form" method="post" action="{{ form_action_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.name.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.name|addclass:'form__input' }}
                    <span class="form__error">{{ form.name.errors }}</span>
                </div>
            </div>

            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tags.name }}" id="id_breakfast" value="breakfast"
                                   class="tags__checkbox tags__checkbox_style_orange" {% if 'breakfast' in checked_tags %}checked{% endif %}>
                            <label for="id_breakfast" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tags.name }}" id="id_lunch" value="lunch"
                                   class="tags__checkbox tags__checkbox_style_green" {% if 'lunch' in checked_tags %}checked{% endif %}>
                            <label for="id_lunch" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tags.name }}" id="id_dinner" value="dinner"
                                   class="tags__checkbox tags__checkbox_style_purple" {% if 'dinner' in checked_tags %}checked{% endif %}>
                            <label for="id_dinner" class="tags__label">Ужин</label>
                        </div>
                    </div>
                    <span class="form__error">{{ form.tags.errors }}</span>
                </div>
            </div>

            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>

                    <div class="form__field-group-ingredientes-container">
                        {% for title, amount, dimension in recipe.ingredients %}
                            <div class="form__field-item-ingredient" id="ing_{{ ingredient.id }}">
                                <span> {{ title }} {{ amount }} {{ dimension }} шт.</span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ ingredient.id }}" name="nameIngredient" type="hidden" value="{{ title }}">
                                <input id="valueIngredient_{{ ingredient.id }}" name="valueIngredient" type="hidden" value="{{ amount }}">
                                <input id="unitsIngredient_{{ ingredient.id }}" name="unitsIngredient" type="hidden" value="{{ dimension }}">
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.preparation_time|addclass:'form__input' }}
                    <label for="{{ form.preparation_time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.preparation_time.errors }}</span>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:'form__textarea' }}
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>

            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image }}
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">{{ button_name }}</button>
                 {%  if 'edit' in request.path %}
                    <a style="margin-left: 2.5em" href="{% url 'recipe_delete' pk=recipe.id %}" class="form__ingredient-link">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}